/*****RESET*****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

button {
  margin-left: 85px;
  display: flex;
}

.on {
  display: none;
}

.on.active {
  display: block;
}


.off {
  display: block;
}

.off.active {
  display: none;
}